<% layout('layouts/boilerplate')%>
<form action="/index" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="item[title]">
    </div>
    <div>
        <label for="deadline">Deadline</label>
        <input type="date" id="deadline" name="item[deadline]">
    </div>
    <button>Add To-Do</button>
</form>
<a href="/index">All To-Do</a>